
/* @keyframes shake-shadow {
  0% { box-shadow: 0px 5px 5px cyan; }
  20% { box-shadow: 0px 0px 15px cyan; }
  40% { box-shadow: 0px 0px 25px cyan; }
  60% { box-shadow: 0px 0px 30px cyan; }
  80% { box-shadow: 0px 0px 20px cyan; }
  100% { box-shadow: 0px 5px 5px cyan; }
} */

@keyframes shake-shadow {
  0% { filter: drop-shadow(0px 5px 5px cyan); }
  20% { filter: drop-shadow(0px 0px 15px cyan); }
  40% { filter: drop-shadow(0px 0px 25px cyan); }
  60% { filter: drop-shadow(0px 0px 30px cyan); }
  80% { filter: drop-shadow(0px 0px 20px cyan); }
  100% { filter: drop-shadow(0px 5px 5px cyan); }
}

@keyframes flipX {  /*GREAT TO ANIMATE EXITS*/
    0% { transform: rotateY(0deg); }
    /* 50% { transform: rotateY(180deg); } */
    100% { transform: rotateY(40deg); }

}
@keyframes rotateForm {
    0% { transform: perspective(1000px) rotateY(0deg); }
    100% { transform: perspective(1000px) rotateY(-15deg); }
  }
.animate-rotate-form {
  animation: rotateForm 1s ease-out forwards;
}



#image-container{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-radius: 500px 500px 999px 999px;
}

/* #separator-line{
    background: black;
} */

#image-container {
  will-change: box-shadow;
}


#form-target{
    rotate: 0deg 0deg -40deg;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  